<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello this is home page.....</h1>
    <h2>{{ title }}</h2>
    <p>{{ desc }}</p>
    <p>{{ number }}</p>
    <hr>
    <p>{{ list1 }}</p>
    <p>{{ list1.1 }}</p>
    <p>{{ list1.3.1 }}</p> 
    <hr>
    <p>{{ dict1}}</p>
    <p>{{ dict1.key1 }}</p>
    <hr>
    <ul>
        {% for i in list1 %}
        <li>{{ i }}</li>
        {% endfor %}
    </ul>

    <hr>
        {% if number == 1112 %}
        <p>
            Henry
        </p>
        {% else %}
        <p>
            Victor
        </p>
        {% endif %}
    <hr>
    <p>add value : {{ number|add:"2" }}</p>
    <p>value : {{ number }}</p>
    <hr>
    <p>capfirst : {{ title|capfirst }}</p>
    <hr>
    {{ dict_list|dictsort:"age" }}
    <hr>
    {{ desc|truncatechars:7 }}
    
</body>
</html>